NODE_ENV=development

MANAGEMENT_FRONTEND_PORT=4200
API_GATEWAY_PORT=3000
IDENTITY_SERVICE_PORT=3001
CONTENT_SERVICE_PORT=3002
CONTENT_TYPE_SERVICE_PORT=3003
PUBLICATION_SERVICE_PORT=3004
PUBLICATION_WORKER_PORT=3005
DELIVERY_SERVICE_PORT=3006

MONGODB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=ecmp
MONGO_INITDB_ROOT_PASSWORD=ecmp-local
MANAGEMENT_MONGODB_DATABASE=ecmp_management
DELIVERY_MONGODB_DATABASE=ecmp_delivery

REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=ecmp
RABBITMQ_DEFAULT_PASS=ecmp-local

MANAGEMENT_FILE_STORAGE_PATH=/var/lib/ecmp/management-files
DELIVERY_FILE_STORAGE_PATH=/var/lib/ecmp/delivery-files
